.spring-detail-container {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
}

.header-image {
  background-image: url('../../assets/spring.png');
  background-size: cover;
}

mat-card-content {
  margin-bottom: 0px;
}

mat-tab-group {
  height: 100%;
}

mat-tab {
  height: 100%;
}

app-spring-detail-static {
  height: 100%;
}

app-spring-detail-scenario {
  height: 100%;
}