.spring-detail-container {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
}

.header-image {
  background-image: url('../../assets/spring.png');
  background-size: cover;
}