table {
  width: 100%;
}

h2 {
  font-size: 1.2em;
  color: #999;
  margin: 0;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.highlight {
  /* TODO: Tie this back to the angular material theme */
  background: #c2185b;
}