/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

/* Chart styles have to go here otherwise Angular messes up the CSS selectors */

.c3 .c3-axis-x path, .c3 .c3-axis-x line {
  stroke: whitesmoke;
}
.c3 .c3-axis-y path, .c3 .c3-axis-y line {
  stroke: whitesmoke;
}

.c3-axis {
  fill: whitesmoke;
}

.c3-tooltip .name, .c3-tooltip .value {
  color: black;
}

/* This is written as a style tag on the circle element itself so can't be 
overridden without the !important */
.c3-circle {
  opacity: 1 !important;
}

#chart > svg {
  width: 100%;
  height: 100%;
}