<form class="scenario-selector-form-container">

  <!-- Mass -->
  <table class="scenario-selector-full-width" cellspacing="0"><tr>
    <td>
      <mat-form-field class="scenario-selector-full-width">
        <input [(ngModel)]="scenario.mSystemGrams" name="mSystemGrams" matInput type="number" placeholder="System Mass" min="1" />
        <span matSuffix>g</span>
      </mat-form-field>
    </td>
    <td><i class="material-icons range-icon">add</i></td>
    <td>
      <mat-form-field class="scenario-selector-full-width">
        <input [(ngModel)]="scenario.mMassGrams" name="mMassGrams" matInput type="number" placeholder="Payload Mass" min="1" />
        <span matSuffix>g</span>
      </mat-form-field>
    </td>
  </tr></table>
  <mat-checkbox [(ngModel)]="scenario.mDynamicBalancingRequired" name="mDynamicBalancingRequired" labelPosition="after">System is required to balance dynamically</mat-checkbox>
  <mat-checkbox [(ngModel)]="scenario.mIncludeSpringMassInSystem" name="mIncludeSpringMassInSystem" labelPosition="after">Springs are located on the balancing mechanism</mat-checkbox>

  <!-- Number of Springs -->
  <mat-form-field class="scenario-selector-full-width">
    <input [(ngModel)]="scenario.mNumberOfParallelSprings" name="mNumberOfParallelSprings" matInput type="number" placeholder="Number of parallel springs" min="1" />
  </mat-form-field>

  <!-- Mechanical Advantage -->
  <table class="scenario-selector-full-width" cellspacing="0">
    <tr><td>
      <mat-form-field class="scenario-selector-full-width">
        <mat-label>Mechanical Advantage</mat-label>
        <input [(ngModel)]="scenario.mMechanicalAdvantageZaehler" name="mMechanicalAdvantageZaehler" matInput type="number" class="scenario-selector-right-align" />
      </mat-form-field>
    </td>
    <td>:</td>
    <td>
      <mat-form-field class="scenario-selector-full-width">
        <input [(ngModel)]="scenario.mMechanicalAdvantageNenner" name="mMechanicalAdvantageNenner" matInput type="number" />
      </mat-form-field>
    </td></tr>
  </table>

  <!-- R2 -->
  <mat-label>Distance spring connection on lever to Pivot</mat-label>
  <table class="scenario-selector-full-width" cellspacing="0"><tr>
    <td>
      <mat-form-field class="scenario-selector-full-width">
        <input [(ngModel)]="scenario.mAllowedRangeR2MillimetersMin" name="mAllowedRangeR2MillimetersMin" matInput type="number" placeholder="min"/>
        <span matSuffix>mm</span>
      </mat-form-field>
    </td>
    <td><i class="material-icons range-icon">arrow_forward</i></td>
    <td>
      <mat-form-field class="scenario-selector-full-width">
        <input [(ngModel)]="scenario.mAllowedRangeR2MillimetersMax" name="mAllowedRangeR2MillimetersMax" matInput type="number" placeholder="max"/>
        <span matSuffix>mm</span>
      </mat-form-field>
    </td>      
  </tr></table>
  
  <!-- A -->
  <mat-label> Distance spring connection on fixed y-Axis to Pivot</mat-label>
  <table class="scenario-selector-full-width" cellspacing="0"><tr>
    <td>
      <mat-form-field class="scenario-selector-full-width">
        <input [(ngModel)]="scenario.mAllowedRangeAMillimetersMin" name="mAllowedRangeAMillimetersMin" matInput type="number" placeholder="min"/>
        <span matSuffix>mm</span>
      </mat-form-field>
    </td>
    <td><i class="material-icons range-icon">arrow_forward</i></td>
    <td>
      <mat-form-field class="scenario-selector-full-width">
        <input [(ngModel)]="scenario.mAllowedRangeAMillimetersMax" name="mAllowedRangeAMillimetersMax" matInput type="number" placeholder="max"/>
        <span matSuffix>mm</span>
      </mat-form-field>
    </td>      
  </tr></table>

  <!-- Mass -->
  <mat-form-field class="scenario-selector-full-width">
    <input [(ngModel)]="scenario.mR1" name="mR1" matInput type="number" placeholder="Distance of centre of mass to pivot" min="1" />
    <span matSuffix>mm</span>
  </mat-form-field>

</form>
<button mat-flat-button (click)="findSprings()">Find Springs</button>
