.scenario-selector-form-container {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

mat-checkbox {
  float: right;
}

.range-icon  {
  margin-left: 1em;
  margin-right: 1em;
}

.scenario-selector-full-width {
  width: 100%;
}

.scenario-selector-right-align {
  text-align: right;
}

input.scenario-selector-right-align::-webkit-outer-spin-button,
input.scenario-selector-right-align::-webkit-inner-spin-button {
  display: none;
}

input.scenario-selector-right-align {
  -moz-appearance: textfield;
}