<form class="scenario-selector-form-container">
  <!-- Mass -->
  <mat-form-field class="scenario-selector-full-width">
    <input matInput type="number" placeholder="Combined System and Load Mass" min="1" />
    <span matSuffix>g</span>
  </mat-form-field>

  <!-- Number of Springs -->
  <mat-form-field class="scenario-selector-full-width">
    <input matInput type="number" placeholder="Number of parallel springs" />
  </mat-form-field>

  <!-- Mechanical Advantage -->
  <table class="example-full-width" cellspacing="0"><tr>
    <td>
      <mat-form-field class="scenario-selector-full-width">
        <mat-label>Mechanical Advantage</mat-label>
        <input matInput type="number" class="scenario-selector-right-align" />
      </mat-form-field>
    </td>
    <td>:</td>
    <td>
      <mat-form-field class="scenario-selector-full-width">
        <input matInput type="number" />
      </mat-form-field>
    </td>      
  </tr></table>

  <!-- R2 -->
  <mat-label>Distance spring connection on lever to Pivot</mat-label>
  <table class="example-full-width" cellspacing="0"><tr>
    <td>
      <mat-form-field class="scenario-selector-full-width">
        <input matInput type="number" placeholder="min"/>
        <span matSuffix>mm</span>
      </mat-form-field>
    </td>
    <td>-></td>
    <td>
      <mat-form-field class="scenario-selector-full-width">
        <input matInput type="number" placeholder="max"/>
        <span matSuffix>mm</span>
      </mat-form-field>
    </td>      
  </tr></table>
  
  <!-- A -->
  <mat-label> Distance spring connection on fixed y-Axis to Pivot</mat-label>
  <table class="example-full-width" cellspacing="0"><tr>
    <td>
      <mat-form-field class="scenario-selector-full-width">
        <input matInput type="number" placeholder="min"/>
        <span matSuffix>mm</span>
      </mat-form-field>
    </td>
    <td>-></td>
    <td>
      <mat-form-field class="scenario-selector-full-width">
        <input matInput type="number" placeholder="max"/>
        <span matSuffix>mm</span>
      </mat-form-field>
    </td>      
  </tr></table>

  <!-- Mass -->
  <mat-form-field class="scenario-selector-full-width">
    <input matInput type="number" placeholder="Distance of centre of mass to pivot" min="1" />
    <span matSuffix>mm</span>
  </mat-form-field>

</form>
